* {
    margin: 0;
    padding: 0;
}

:root{
    --main-bgc: #FAA;
    --main-t: #f55;
}

header {
    background-color: var(--main-bgc);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    height: 80px;
}

nav {
    display: inline-block;
}

.search {
    border: none;
    height: 31px;
    width: 325px;
    margin-left: 415px;
    text-align: center;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
    color: var(--main-t);
}

.btn {
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 80px;
    margin-left: 10px;
    background-color: var(--main-bgc);
    color: var(--main-t);
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
}

.btn:hover {
    background-color: white;
}

.headimg {
    display: block;
    height: 30px;
    margin-left: 400px;
}

.nm {
    font-family: sans-serif;
    color: var(--main-t);
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    font-family: 'Ubuntu', sans-serif;
}


footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    height: 50px;
    width: 100vw;
    min-height: 50px;
    min-width: 100vw;
    color: var(--main-t);
    position: sticky;
    top: 0;
    font-family: 'Ubuntu', sans-serif;
}

.ni {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.ni:hover {
    color: var(--main-t);
}

ul li {
    display: inline;
    padding: 15px;
}

ul {
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px - 50px);
    width: 100vw;
    overflow: scroll;
    box-sizing: border-box;
    align-items: center;
}


.cbody {
    display: flex;
    width: 250px;
    height: 260px;
    border: 3px solid rgba(0, 0, 0, 0.168);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
}

.cbody img {
    height: 130px;
    margin-bottom: 10px;
}

.topcards {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 85vw;
    height: 25vh;
    min-height: 25vh;
    align-items: center;
    column-gap: 5vw;
    row-gap: 5vh;
    overflow: scroll;
}

.cardhead {
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    padding: 4vh;
    width: 85vw;
    color: rgba(0, 0, 0, 0.571);
}

.carcont {
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5vh;
}

.imgcontainer {
    position: relative;
    width: 38vw;
    height: 45vh;
    overflow: hidden;
    border-radius: 6px;
}

.imgcontainer img {
    position: absolute;
    width: 40vw;
}

.butt {
    width: 3vw;
    height: 5vh;
    font-size: 33px;
    border-style: none;
    color: rgba(0, 0, 0, 0.318);
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}

.butt:hover{
    color: var(--main-t);
}
